<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
	<link rel="stylesheet" href="https://cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
	<link rel="stylesheet" href="https://cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

	<link rel="stylesheet" href="header.css">
</head>
<body>
	<header class="header">
		<div class="container">
			<div class="row">
				<div class="column">
					<a href="#">
						marc graciov
					</a>
				</div>
				<div class="column">
					<a href="#" class="logo">
						<img src="../../img/NotesNormal.svg">
					</a>
				</div>
				<div class="column">
					<nav>
						<ul class=navbar>
							<li>
								<a href="#">
									settings
								</a>
							</li>
							<li>
								<a href="#">
									help
								</a>
							</li>
							<li>
								<a href="#">
									sign up
								</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</header>
</body>
</html>