<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
	<link rel="stylesheet" href="https://cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
	<link rel="stylesheet" href="https://cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
	<link rel="stylesheet" href="Galerie.css">
</head>
<body>
	<section class="galerie">
		<div class="row">
			<div class="column">
				<img src="https://picsum.photos/300/200/?random"> 
			</div>
			<div class="column">  
				<img src="https://picsum.photos/300/200/?random"> 
			</div>
			<div class="column">
				<img src="https://picsum.photos/300/200/?random">   
			</div>
			<div class="column">
				<img src="https://picsum.photos/300/200/?random">  
			</div>
		</div>
		<div class="row">
			<div class="column">
				<img src="https://picsum.photos/300/200/?random"> 
			</div>
			<div class="column">  
				<img src="https://picsum.photos/300/200/?random"> 
			</div>
			<div class="column">
				<img src="https://picsum.photos/300/200/?random">   
			</div>
			<div class="column">
				<img src="https://picsum.photos/300/200/?random">  
			</div>
		</div>
	</section>
</body>
</html>