.galerie {
    margin: 0 ;
    width: 100%;
}
.galerie img {
	margin: 0 ;
	width: 100%;
	display: block;
}
.galerie .column {
	padding: 0;
}
.galerie .row {
	width: 100%;
	margin: 0;
}
@media (max-width: 1024px) {
	.galerie .row {
		flex-wrap: wrap;
	}
	.galerie .column {
		flex: 0 0 50%;
		max-width: 50%;
	}
}
@media (max-width: 639px) {
	.galerie .column {
		flex: 0 0 100%;
		max-width: 100%;
	}
}