<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/necolas/normalize.css@master/normalize.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/milligram/milligram@master/dist/milligram.min.css">
	<link rel="stylesheet" href="galerie.css">
</head>
<body>
	<section class="galerie">
		<div class="row">
			<div class="column"> 
				<img src="../img/fotografii-galerie/poza1.jpg">
			</div>
			<div class="column"> 
				<img src="../img/fotografii-galerie/poza2.jpg">
			</div>
			<div class="column"> 
				<img src="../img/fotografii-galerie/poza3.jpg">
			</div>
			<div class="column"> 
				<img src="../img/fotografii-galerie/poza4.jpg">
		    </div>
		</div>
		<div class="row">
			<div class="column "> 
				<img src="../img/fotografii-galerie/poza5.jpg">
			</div>
			<div class="column"> 
				<img src="../img/fotografii-galerie/poza6.jpg">
			</div>
			<div class="column"> 
				<img src="../img/fotografii-galerie/poza7.jpg">
			</div>
			<div class="column">
			    <img src="../img/fotografii-galerie/poza8.jpg">
		    </div>
		</div>
		
	</section>
</body>
</html>