<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/necolas/normalize.css@master/normalize.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/milligram/milligram@master/dist/milligram.min.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

	<link rel="stylesheet" href="partener.css">
</head>
<body>
	<section class="partner">
		<div class="container">
			<h2>
				Partners
			</h2>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
			</p>

			<div class="row">
				<div class="column">
					<a href="#">
						<img src="../img/partener/1.png">
					</a>
				</div>
				<div class="column">
					<a href="#">
						<img src="../img/partener/2.png">
					</a>
				</div><div class="column">
					<a href="#">
						<img src="../img/partener/3.png">
					</a>
				</div>
				<div class="column">
					<a href="#">
						<img src="../img/partener/4.png">
					</a>
				</div>
			</div>
			<div class="row">
				
				<div class="column">
					<a href="#">
						<img src="../img/partener/5.png">
					</a>
				</div><div class="column">
					<a href="#">
						<img src="../img/partener/6.png">
					</a>
				</div>
				<div class="column">
					<a href="#">
						<img src="../img/partener/7.png">
					</a>
				</div>
				<div class="column">
					<a href="#">
						<img src="../img/partener/8.png">
					</a>
				</div>
			</div>

			<div class="row">
				<div class="column">
					<a href="#">
						<img src="../img/partener/9.png">
					</a>
				</div>
				<div class="column">
					<a href="#">
						<img src="../img/partener/10.png">
					</a>
				</div>
				<div class="column">
					<a href="#">
						<img src="../img/partener/11.png">
					</a>
				</div>
				<div class="column">
					<a href="#">
						<img src="../img/partener/12.png">
					</a>
				</div>
			</div>

			
				
		
			<div class="row">
				<div class="column">
					<a href="#">
						<img src="../img/partener/13.png">
					</a>
				</div>
				<div class="column">
					<a href="#">
						<img src="../img/partener/14.png">
					</a>
				</div>
				<div class="column">
					<a href="#">
						<img src="../img/partener/15.png">
					</a>
				</div>
			
			
				<div class="column">
					<a href="#">
						<img src="../img/partener/16.png">
					</a>
				</div>
			</div>
		</div>
	</section>
	
</body>
</html>