<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Notes</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
	<link rel="stylesheet" href="https://cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
	<link rel="stylesheet" href="https://cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
	<link rel="stylesheet" type="text/css" href="hero.css">		
</head>
<body>
	<section class="hero">
		<div class="hero-overlay"></div>
		<div class="container">
			<div class="row">
				<div class="column">
					<div class="hero-text">
						<h1>
							Write it now!
						</h1>
						<p>
							Place your thoughts on the shelves, remember the important things, be punctual along with "Notes".						
						</p>
					</div>
				</div>
			</div>
		</div>	
	</section>	
</body>
</html>