<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/necolas/normalize.css@master/normalize.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/milligram/milligram@master/dist/milligram.min.css">

	<link rel="stylesheet" href="footer.css">
</head>
<body>
	<footer class="footer">
		<div class="container">
			<p>
				This web application was developed during
				<a href="https://www.google.com">GirlsGoIT Summer STEM Camp </a>
			</p>
			<ul>
				<li><a href="#">Facebook</a></li>
				<li><a href="#">YouTube</a></li>
				<li><a href="#">Instagram</a></li>
			</ul>
		</div>
	</footer>	
</body>
</html>
