.footer p {
	font-weight: normal;
	line-height: 21px;
	width: 100%;
	position: relative;
	color: #898989;
	margin-top: 5px, #898989; 
}
.footer li{
	word-spacing: 50px;
	padding: 16px;
	display: inline-block;
}
.footer ul{
	list-style-type: none;
	margin: 0;
	color: #898989;
}
.footer {
	text-align: center;
	background-color: #F9F9F9;
	padding:60px 0;

}
.footer p a{
	color: #208AFA;
}

.footer ul a {
	color: #898989;
}