<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Settings</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
	<link rel="stylesheet" href="https://cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
	<link rel="stylesheet" href="https://cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">

	<link rel="stylesheet" href="settings.css">
</head>
<body>
    <section class="settings">
		<div class="container">
			<div class="row">
                <div class="column column-33">
                	<input type="text" placeholder="Full Name">
                	<input type="Password" placeholder="Old Password">
	  				<input type="Password" placeholder="New Password">
						<input type="text" placeholder="Confirm Password">
				</div>	
				<div class="column column-67">
                	<textarea placeholder="Custom theme"></textarea>
            	</div>
            </div>
        </div>   	
	</section>	
</body>
</html>