<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/necolas/normalize.css@master/normalize.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/milligram/milligram@master/dist/milligram.min.css">
	<link rel="stylesheet" href="tools-bar.css">
</head>
<body>
	<section class="tools-bar">
		<div class="container">
			<div class="row">
				<div class="column">
					<h1>
						Dashboard
					</h1>
				</div>	
				<div class="column">
					<div class="tools-bar-button" >
						<a class="button">New Note</a>
					</div>	
				</div>
			</div>
		</div>
	</section>
</body>
</html>