.about h2{
	font-weight: medium;
	line-height: 53px;
	color: black;
	text-align: center;
	padding-top: 120px;
	font-size: 40px;
}
.about p{
	font-weight: normal;
	line-height: 28px;
	color: #6A6A6A;
	text-align: center;
	
}
.about-notes{
	max-width: 719px;
	margin: 0 auto;
}
@media ( max-width: 600px){
	
}
.about {
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 120px;
}




