<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/necolas/normalize.css@master/normalize.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/milligram/milligram@master/dist/milligram.min.css">

	<link rel="stylesheet" href="about.css">
</head>
<body>
	<section class="about">
		<div class="about-notes">
			<h2>
				About Notes App
		 	</h2>
			<p>
		    	Notes is a notetaking app developed by GirlsGoIT. It functions as a web application for making short text notes, which can be accessed by everyone. Our application is a good choice for everyone who wants to take notes or to save something and want to have access from other devices. Also this application alows you to capture and organize your ideas. 
			</p>
        </div>
	</section>
</body>
</html>
